body{
  height: 100% !important;
  width: 100%;
}

h3, p {
  margin-top: 5px;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 20px;
}

.fixed {
  position: fixed;
  top: 10;
  left: 10;
  z-index: 6;
}

.bodycontent {
  padding-top: 60px;  
  width: 100%;
  min-height: 100%;
}
  
@media (min-width: 960px) {
  .bodycontent {
    padding-top: 70px;  
  }
}

.grid {
  width: 100%;
}

/* Home page/sidenav */
.homehead {
  font-size: 60px;
  margin: 0.3em auto;
}

.sidenavlist, .featurelist {
  list-style-type: none;
}

.featurelist > li {
  font-size: 20px;
  margin: 10px auto;
}

.copyright {
  margin-top: 50px;
}

/* Register form */
.register-form {
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
}

/* Add Books page */
.searchhead {
  position: relative;
  font-size: 25px;
  font-weight: 700;
}

.searchsub {
  position: relative;
  font-size: 16px;
}

.cover {
  padding: 1rem 1rem 0 1rem;
  background-color: white;
  height: auto;
  width: auto;
  max-width: 200px;
}

.own-it {
  color: green;
}

#searchbar {
  max-width: 70%;
  width: 800px;
}

#searchterm {
  max-width: 100%;
  width: 800px;

}

/* login page */
.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch  {
  width: 100%;
}

/* Setting dialog */
.settings-md-panel {
  min-height: 500px;
}
.settings-dialog {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}
.settings-dialog-content {
  padding: 0 15px;
  width: 100%;
}
.settings-dialog-content img {
  height: 300px;
  margin: auto;
}
.settings-dialog-button {
  width: 100%;
}

/* Profile */
table {
  border: none;
}

#user-stats td, #pending-trades td {
  padding: 5px 10px;
}

.stat {
  font-size-adjust: 4px;
  font-weight: 700;
}

#pending-trades thead {
  font-size-adjust: -2px;
}

#pending-trades tr {
  border-bottom: 1px solid gray;
}