<div layout="column" class="bodycontent" layout-fill>
  <div layout="column" layout-align="center center">
    <h1 class="homehead">Book Trade</h1>
    <ul class="featurelist">
      <li>Manage your collection online</li>
      <li>See who has the books you want</li>
      <li>Arrange trades easily</li>
      <li>Have fun!</li>
    </ul>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised" href="/login">Sign In</md-button> 
      <md-button class="md-raised" href="/register">Register</md-button>
    </div>
    <div layout="row" layout-align="center center">
      <p class="copyright">&copy; 2016 Luke Walker. <a href="https://github.com/ubershibs/book-trading-club" target="_blank">Code on Github</a></p>
    </div>
  </div>
</div>